@{ 
    string selected = "selected";
    ViewBag.Title = "Home Page";
    Layout = "~/Views/MasterTemplate/_mainlayout.cshtml";
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">

    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">

            <img src="@Url.Content("~/Content/images/lamp.png")" alt="Alternate Text" style="position: absolute; right: 15px; top: -10px; width: 5%;" />
            <img src="@Url.Content("~/Content/images/lamp.png")" alt="Alternate Text" style="position: absolute; right: 35px; top: -10px; width: 8%;" />

            <div class="row">
                <h3 class="text-center " style="margin: auto; width: 50%;  padding: 10px;"><b>Aplikasi<br /> Pembayaran Listrik</b></h3>
            </div>

        </div>
    </section>
</div>
